* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  height: 100vh;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: auto;
  font-family: sans-serif;
}

.header {
  min-width: 90vw;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header #forfeit {
  background: lightcoral;
}

.header #forfeit:hover {
  background: black;
  color: lightcoral;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.header #submit {
  background: lightgreen;
}

.header #submit:hover {
  background: black;
  color: lightgreen;
}

.score-container {
  background: teal;
  color: rgb(245, 245, 245);
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 10px;
  font-weight: bold;
}

.score-container #score {
  color: rgb(245, 245, 245);
  font-weight: bold;
}

.question-container {
  min-width: 50vw;
  width: fit-content;
  background: rgb(10, 10, 10);
  border: 2px solid rgb(245, 245, 245);
  border-radius: 5px;
  color: rgb(245, 245, 245);
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  display: flex;
}

.question-container p {
  padding-left: 5px;
}

.options-container {
  height: fit-content;
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.radio-container {
  min-width: 50vw;
  width: fit-content;
  background: rgb(245, 245, 245);
  border: 2px solid rgb(10, 10, 10);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  position: relative;
}

.radio-container:hover {
  cursor: pointer;
}

.radio-container label {
  padding-left: 5px;
}

.radio-container i {
  position: absolute;
  top: 30%;
  right: 10px;
  display: none;
}

.correct {
  border: 2px solid green;
}

.wrong {
  border: 2px solid red;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.wrong .fa-times,
.correct .fa-check {
  display: inline-block;
}

.btn-container {
  min-width: 50vw;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px;
  background: gold;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  background: rgb(10, 10, 10);
  color: gold;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(10, 10, 10, 0.5);
  padding-top: 25vh;
}

.modal-content {
  background: rgb(245, 245, 245);
  padding: 20px;
  margin: auto;
  min-width: 30vw;
  width: fit-content;
  max-width: 50vw;
  min-height: 20vh;
  height: fit-content;
  position: relative;
  border-radius: 5px;
  text-align: center;
}

.modal-content button {
  background: orangered;
}

.modal-content button:hover {
  background: black;
  color: orangered;
}

.modal-content #close {
  color: rgb(245, 245, 245);
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: -10px;
  right: -8px;
  border-radius: 50%;
  border: 2px solid rgb(245, 245, 245);
  background: rgb(10, 10, 10);
  padding: 1px 5px;
  height: fit-content;
}

.modal-content #close:hover {
  cursor: pointer;
}

#forfeit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: fit-content;
}

#forfeit-container p {
  padding-bottom: 15px;
}

.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 35vh;
  height: fit-content;
}

.attempt-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 20vw;
  width: fit-content;
  min-height: 12vh;
  height: fit-content;
}

.attempt-container .yes-no {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  background: lightgrey;
  padding: 3px 0px;
  margin: 2px;
}

.ua {
  padding-top: 10px;
}

.a,
.ua {
  display: flex;
  align-items: center;
  justify-content: center;
}

.a {
  padding-bottom: 5px;
}

.no {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  background: lightgrey;
  color: lightgrey;
  padding: 3px 0px;
  margin: 5px;
}

.yes {
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1rem;
  background: greenyellow;
  color: greenyellow;
  padding: 3px 0px;
  margin: 5px;
}

.yes-no:hover {
  cursor: pointer;
}
